@model ClinicAppointment.Models.Payment

<h2 class="text-center mt-4" style="color: #d37afc;">Create Transaction Payment</h2>

<div class="p-4 rounded shadow-sm bg-light">
    <form asp-action="CreatePayment" method="post" class="p-3">
        <div class="form-group mb-3">
            <label asp-for="PatientName" class="form-label font-weight-bold" style="color: #d37afc;">Patient Name</label>
            <input asp-for="PatientName" class="form-control rounded-pill" placeholder="Enter full name" />
            <span asp-validation-for="PatientName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="TreatmentCost" class="form-label font-weight-bold" style="color: #d37afc;">Treatment Cost</label>
            <input asp-for="TreatmentCost" class="form-control rounded-pill" placeholder="Enter Total Cost" />
            <span asp-validation-for="TreatmentCost" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="AmountPaid" class="form-label font-weight-bold" style="color: #d37afc;">Amount Paid</label>
            <input asp-for="AmountPaid" class="form-control rounded-pill" placeholder="Enter Amount Paid" />
            <span asp-validation-for="AmountPaid" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="TypeofPayment" class="form-label font-weight-bold" style="color: #d37afc;">Type of Payment</label>
            <select asp-for="TypeofPayment" class="form-control rounded-pill">
                <option value="Cash">Cash</option>
                <option value="EPayment">E-Payment</option>
            </select>
            <span asp-validation-for="TypeofPayment" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="IsOldPatient" class="form-label font-weight-bold" style="color: #d37afc;">Patient Type</label>
            <select asp-for="IsOldPatient" class="form-control rounded-pill">
                <option value="true">Old Patient</option>
                <option value="false">New Patient</option>
            </select>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn" style="background-color: #d37afc; color: white; border-radius: 50px; padding: 10px 0;">Create</button>
        </div>
    </form>
</div>
